body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    font-weight: 600;
    color: white;

    
}
menu {
    width: 300px;
}
ul {
    padding: 0px;
    margin: 0px;
    background-color: gray;
}
li {
    list-style-type: none;
    padding-top: 40px;
    padding-bottom: 30px;
    padding-left: 70px;
    margin: 0px;
    line-height: 20px;    
}
li:hover {
    background-color: rgb(80, 79, 79);
}
img {
        float: left;
        margin-top: 15px;
        margin-left: 20px;
        margin-right: 20px;
}

