* {
    background-color: rgb(234, 240, 248);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    color: indigo;
    text-align: center;
}
.grey {
    color: rgb(97, 105, 122)
}
.light {
    color: #929fc7
}
.center {
    text-align: center;   
}